<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <header>
        <a href="/"><img width="350" src="/images/logo-mercado-liebre.svg" alt=""></a>
        <br>
        <br>
        <div>Lugar para poner la barra de busqueda<i class="fas fa-search"></i></div>
        <br>
        <div>Comprá en cuotas y sin tarjeta de crédito<i class="far fa-hand-holding-usd"></i></div>
        <ul>
            <li><a href="/">Ofertas</a></li>
            <li><a href="/">Tiendas Oficiales</a></li>
            <li><a href="/">Vender</a></li>
            <li><a href="/">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/">Crea tu cuenta<i class="fal fa-address-card"></i></a></li>
            <li><a href="/">Ingresa<i class="fal fa-user"></i></a></li>
            <li><a href="/">Mis compras<i class="fal fa-shopping-bag"></i></a></li>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </ul>
        <img width="350" src="/images/img-home-banner.jpg" alt="">
    </header>
    <main>
        <section>

            <h3>Basado en tu ultima visita</h3>
            <article>
                <img width="250" src="/images/img-cafetera-moulinex.jpg" alt="">
                <div class="precios" id="caja">$6.770</div>
                <div class="descuentos">40% OFF</div>
                <div class="descripciones">Cafetera Moulinex</div>
            </article>
            <article>
                <img width="250" src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="precios" id="caja">$230.000</div>
                <div class="descuentos">20% OFF</div>
                <div class="descripciones">MacBook Pro 2019</div>
            </article>
            <article>
                <img width="250" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="precios" id="caja">$70.500</div>
                <div class="descuentos">10% OFF</div>
                <div class="descripciones">Samsung Galaxy S10</div>
            </article>
            <article>
                <img width="250" src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="precios" id="caja">$23.200</div>
                <div class="descuentos">5% OFF</div>
                <div class="descripciones">SmartTv Samsung 43"</div>
            </article>
        </section>
        <section>
            <h3>Seccion de ofertas</h3>
            <article>
                <img width="250" src="/images/img-cafetera-moulinex.jpg" alt="">
                <div class="precios" id="caja">$6.770</div>
                <div class="descuentos">40% OFF</div>
                <div class="descripciones">Cafetera Moulinex</div>
            </article>
            <article>
                <img width="250" src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="precios" id="caja">$230.000</div>
                <div class="descuentos">20% OFF</div>
                <div class="descripciones">MacBook Pro 2019</div>
            </article>
            <article>
                <img width="250" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="precios" id="caja">$70.500</div>
                <div class="descuentos">10% OFF</div>
                <div class="descripciones">Samsung Galaxy S10</div>
            </article>
            <article>
                <img width="250" src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="precios" id="caja">$23.200</div>
                <div class="descuentos">5% OFF</div>
                <div class="descripciones">SmartTv Samsung 43"</div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!
            </p>
        </section>
        <section>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.
            </p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@
            </p>
        </section>
        <section>
            <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
        </section>
    </footer>
</body>

</html>