<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1a0fd17bb7.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="encabezado">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt=""></a>
            </div>
            <div class="barra">
                <input class="search" type="search" placeholder="Buscar productos, marcas y mas" />
                <a href="/"><button type="submit" class="lupa"><i class="fas fa-search"></i></button></a>
            </div>
            <h2 class="slogan">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav>
            <div class="enlaces-general">
                <div class="enlaces-izquierda">
                    <ul>
                        <li><a href="/">Ofertas</a></li>
                        <li><a href="/">Tiendas Oficiales</a></li>
                        <li><a href="/">Vender</a></li>
                        <li><a href="/">Ayuda</a></li>
                    </ul>
                </div>
                <div class="enlaces-derecha">
                    <ul>
                        <li><a href="/register">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="/">Mis compras <i class="fas fa-luggage-cart"></i></a></li>
                    </ul>
                </div>
            </div>
            <a href="/" class="burger-menu"><i class="fas fa-bars"></i></a>
            <br>
            <div class="encabezado-inferior">
                <a href="/"><img src="/images/img-home-banner.jpg" alt="" class="banner"></a>
            </div>
        </nav>
    </header>
    <main>
        <h3>Basado en tu última visita</h3>
        <section class="contenedor-articulos">
            <article class="contenedor-individual">
                <a href="/"><img src="/images/img-cafetera-moulinex.jpg" alt="" class="imagen"></a>
                <div class="contenedor-individual-inferior">
                    <div class="contenedor-camion">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="contenedor-precio-descuento">
                        <div class="precios">$6.770</div>
                        <div class="descuentos">40% OFF</div>
                    </div>
                    <div class="descripcion">Cafetera Moulinex</div>
                </div>
            </article>
            <article class="contenedor-individual">
                <a href="/"><img src="/images/img-macbook-pro-2019.jpg" alt="" class="imagen"></a>
                <div class="contenedor-individual-inferior">
                    <div class="contenedor-camion">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="contenedor-precio-descuento">
                        <div class="precios">$230.000</div>
                        <div class="descuentos">20% OFF</div>
                    </div>
                    <div class="descripcion">MacBook Pro 2019</div>
                </div>
            </article>
            <article class="contenedor-individual">
                <a href="/"><img src="/images/img-samsung-galaxy-s10.jpg" alt="" class="imagen"></a>
                <div class="contenedor-individual-inferior">
                    <div class="contenedor-camion">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="contenedor-precio-descuento">
                        <div class="precios">$70.500</div>
                        <div class="descuentos">10% OFF</div>
                    </div>
                    <div class="descripcion">Samsung Galaxy S10</div>
                </div>
            </article>
            <article class="contenedor-individual">
                <a href="/"><img src="/images/img-tv-samsung-smart.jpg" alt="" class="imagen"></a>
                <div class="contenedor-individual-inferior">
                    <div class="contenedor-camion">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="contenedor-precio-descuento">
                        <div class="precios">$23.200</div>
                        <div class="descuentos">5% OFF</div>
                    </div>
                    <div class="descripcion">SmartTv Samsung 43"</div>
                </div>
            </article>
        </section>
        <h3>Sección de Ofertas</h3>
        <section class="contenedor-articulos">
            <article class="contenedor-individual">
                <a href="/"><img src="/images/img-cafetera-moulinex.jpg" alt="" class="imagen"></a>
                <div class="contenedor-individual-inferior">
                    <div class="contenedor-camion">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="contenedor-precio-descuento">
                        <div class="precios">$6.770</div>
                        <div class="descuentos">40% OFF</div>
                    </div>
                    <div class="descripcion">Cafetera Moulinex</div>
                </div>
            </article>
            <article class="contenedor-individual">
                <a href="/"><img src="/images/img-macbook-pro-2019.jpg" alt="" class="imagen"></a>
                <div class="contenedor-individual-inferior">
                    <div class="contenedor-camion">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="contenedor-precio-descuento">
                        <div class="precios">$230.000</div>
                        <div class="descuentos">20% OFF</div>
                    </div>
                    <div class="descripcion">MacBook Pro 2019</div>
                </div>
            </article>
            <article class="contenedor-individual">
                <a href="/"><img src="/images/img-samsung-galaxy-s10.jpg" alt="" class="imagen"></a>
                <div class="contenedor-individual-inferior">
                    <div class="contenedor-camion">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="contenedor-precio-descuento">
                        <div class="precios">$70.500</div>
                        <div class="descuentos">10% OFF</div>
                    </div>
                    <div class="descripcion">Samsung Galaxy S10</div>
                </div>
            </article>
            <article class="contenedor-individual">
                <a href="/"><img src="/images/img-tv-samsung-smart.jpg" alt="" class="imagen"></a>
                <div class="contenedor-individual-inferior">
                    <div class="contenedor-camion">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="contenedor-precio-descuento">
                        <div class="precios">$23.200</div>
                        <div class="descuentos">5% OFF</div>
                    </div>
                    <div class="descripcion">SmartTv Samsung 43"</div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="main-footer">
            <section>
                <div class="icono">
                    <i class="fas fa-credit-card"></i>
                </div>
                <div class="textos-footer">
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </section>
            <section>
                <div class="icono">
                    <i class="fas fa-gift"></i>
                </div>
                <div class="textos-footer">
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </section>
            <section>
                <div class="icono">
                    <i class="fas fa-user-shield"></i>
                </div>
                <div class="textos-footer">
                    <h4>Seguridad de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>
            </section>
        </div>
        <section>
            <div class="copy">
                <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
            </div>
        </section>
    </footer>
</body>

</html>