<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuario</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="encabezado">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt=""></a>
            </div>
            <div class="barra">
                <input class="search" type="search" placeholder="Buscar productos, marcas y mas" />
                <a href="/"><button type="submit" class="lupa"><i class="fas fa-search"></i></button></a>
            </div>
            <h2 class="slogan">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav>
            <div class="enlaces-general">
                <div class="enlaces-izquierda">
                    <ul>
                        <li><a href="/">Ofertas</a></li>
                        <li><a href="/">Tiendas Oficiales</a></li>
                        <li><a href="/">Vender</a></li>
                        <li><a href="/">Ayuda</a></li>
                    </ul>
                </div>
                <div class="enlaces-derecha">
                    <ul>
                        <li><a href="/register">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="/">Mis compras <i class="fas fa-luggage-cart"></i></a></li>
                    </ul>
                </div>
            </div>
            <a href="/" class="burger-menu"><i class="fas fa-bars"></i></a>
            <br>
            <div class="encabezado-inferior">
                <a href="/"><img src="/images/img-home-banner.jpg" alt="" class="banner"></a>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-registro">
            <form action="/" method="get"> 
                <label class="titulo1">Registro de usuario</label>
                <div>
                    <div class="contenedor-input">
                        <input type="text" id="nombre" placeholder="Nombre y apellido" class="control">
                    </div>
                    <div class="contenedor-input">
                        <input type="text" id="usuario" placeholder="Nombre de usuario" class="control">
                    </div>
                    <div class="contenedor-input">
                        <label for="fecha" class="titulos">Fecha de nacimiento</label>
                        <br>
                        <input type="date" id="fecha" placeholder="Fecha de nacimiento" class="control">
                    </div>
                    <div class="contenedor-input">
                        <input type="text" id="domicilio" placeholder="Domicilio" class="control">
                    </div>
                    <div class="contenedor-input">
                        <label for="perfil" class="titulos">Perfil de usuario:</label>
                        <br>
                        <br>
                        <input type="radio" name="tipoPerfil" value="compra" class="seleccion"> Comprador
                        <input type="radio" name="tipoPerfil" value="venta" class="seleccion"> Vendedor
                    </div>
                    <div class="contenedor-input">
                        <label for="categorias" class="titulos">Intereses (puede elegir más de una)</label>
                        <br>
                        <br>
                        <input type="checkbox" name="categorias" value="electro" class="seleccion"> Electro
                        <br>
                        <br>
                        <input type="checkbox" name="categorias" value="electro" class="seleccion"> Moda
                        <br>
                        <br>
                        <input type="checkbox" name="categorias" value="electro" class="seleccion"> Hogar
                        <br>
                        <br>
                        <input type="checkbox" name="categorias" value="electro" class="seleccion"> Juguetería
                        <br>
                        <br>
                        <input type="checkbox" name="categorias" value="electro" class="seleccion"> Vida sana
                    </div>
                    <div class="contenedor-input">
                        <label>Foto de usuario:</label>
                        <br>
                        <input type="file" name="foto" accept=".jpg">
                    </div>
                    <div class="contenedor-input">
                        <label for="password">Contraseña:</label>
                        <input type="password" name="usuario" class="control">
                        <br>
                        <label for="password">Repetir contraseña:</label>
                        <input type="password" name="usuario" class="control">
                    </div>
                    <div class="contenedor-input">
                        <a href="/"><button type="submit" class="button">Registrarse</button></a>
                        <button type="reset" class="button">Cancelar</button>
                    </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="main-footer">
            <section class="textos-footer">
                <div class="icono">
                    <i class="fas fa-credit-card"></i>
                </div>
                <div>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </section>
            <section class="textos-footer">
                <div class="icono">
                    <i class="fas fa-gift"></i>
                </div>
                <div>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </section>
            <section class="textos-footer">
                <div class="icono">
                    <i class="fas fa-user-shield"></i>
                </div>
                <div>
                    <h4>Seguridad de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>
            </section>
        </div>
        <section>
            <div class="copy">
                <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
            </div>
        </section>
    </footer>
</body>

</html>