header {
    background-color: #EAC926;
    padding: 10px;
    width: 100vw;
}

.logo {
    width: 50vw;
    height: 5vh;
}

.barra {
    align-self: center;
    height: 5vh;
}

.search {
    width: 80%;
    padding: 8px 8px;
    border-radius: 5 0px 0px 5px;
    border: none;
    margin: 0 -4px 0 0;
    border-right: 1px solid rgb(187, 182, 182);
}

.lupa {
    color: rgb(151, 148, 148);
    background-color: white;
    width: 10%;
    height: 3.3vh;
    border-radius: 0 5px 5px 0;
    border: none;
    align-self: center;
}

.slogan {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    max-width: 80%;
    height: 8gvh;
    margin-bottom: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    width: 100vw;
}

.burger-menu {
    background-color: #03264C;
    color: #ffff;
    display: block;
    text-align: center;
    width: 40px;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 19px;
    margin: auto;
}

.banner {
    display: block;
    width: 100vw;
    margin: 0px 0px -10px -8px;
    border-bottom: 1px solid grey;
    box-shadow: 0 0 10px 0;
}

main {
    margin: auto;
    width: 100vw;
    background-color: #ebebeb;
}

.contenedor-articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.contenedor-individual {
    margin: 10px;
    box-shadow: none;
    width: 50vw;
    background-color: white;
}

.imagen {
    width: 50vw;
}

.contenedor-individual-inferior {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    margin-bottom: 10px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor-camion {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.contenedor-camion:hover {
    transform: rotate(-90deg);
    transition: 450ms;
}

.contenedor-precio-descuento {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.precios {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    flex-grow: 0.3;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    line-height: 23px;
    text-align: left;
    flex-grow: 0.7;
    margin-left: 8px;
}

.descripcion {
    display: none;

}

.main-footer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100vw;
}

.icono {
    text-align: center;
    font-size: 23px;
    color: #274de6;
}

.textos-footer {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    padding: 20px;
    margin: 0 35px;
}

h6 {
    text-align: left;
    font-size: 10px;
    padding: 10px;
}

h3 {
    font-size: 24px;
    color: #666;
    margin: 0 10px;
    line-height: 3;
}

/* REGISTRO */

.main-registro {
    height: 89vh;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 15px;
}

.main-login {
    height: 25vh;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 12px;
}

.contenedor-input {
    margin-bottom: 15px;
    width: 300px;
    padding: 5px;
    font-size: 12px;
    line-height: 18px;
}

.titulo1 {
    font-weight: bold;
    font-size: 18px;
}

.titulos {
    font-weight: bold;
    font-size: 14px;

}

.control {
    width: 100%;
    border: none;
    height: 25px;
    border-radius: 5px;
    padding: 15px 15px;
    margin-top: 5px;
}

.button {
    cursor: pointer;
    padding: 5px;
    background-color: #274de6;
    color: #fff;
    border: none;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 5px;
}

.button:hover {
    background-color: #0022AA;
    transition: 450ms;
}

.seleccion {
    margin-left: 15px;
    font-size: 10px;
}

/* FIN REGISTRO */


.enlaces-general {
    display: none;
}

.contenedor-individual:hover .descripcion {
    display: block;
}

.descripcion {
    display: none;
}


.enlaces-general a {
    display: none;
}

@media (min-width: 361px) {
    .encabezado {
        display: flex;
        text-align: center;
        justify-content: space-around;
        height: 5vh;
        width: 92vw;
    }

    .logo {
        width: 33vw;
    }

    .barra {
        text-align: center;
        width: 33vw;
        justify-content: right;
        flex-grow: 1;
    }

    .search {
        width: 80%;
        flex-grow: 1;
    }

    .lupa {
        width: 18px;
        height: 3.3vh;
        border-radius: 0 5px 5px 0;
        border: none;
        align-self: center;
    }

    .slogan {
        align-self: center;
        font-size: 13px;
        justify-content: left;
        width: 33vw;
        text-align: right;
    }

    .banner {
        width: 100vw;
    }

    .enlaces-general ul {
        display: flex;
    }

    .enlaces-general li {
        display: flex;
        margin: 0 10px;
    }

    .descripcion {
        display: block;
        font-size: 16px;
        flex-grow: 6.5;
        margin-left: 15px;
    }

    .contenedor-individual {
        box-shadow: 10px 10px 10px rgb(100, 100, 100);
        max-width: 40%;
    }

    .contenedor-indivudual:hover {
        box-shadow: 10px 10px 10px rgb(100, 100, 100);
        transition: 450ms;
    }

    .contenedor-indivudual:hover .descripcion {
        display: block;
    }

    .descripcion {
        display: none;
    }

    .contenedor-articulos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin: 5px;
    }

    .imagen {
        max-width: 100%;
        text-align: center;
    }
}

@media (min-width: 769px) {

    .encabezado,
    .enlaces-general {
        max-width: 90vw;
        margin: auto;

        height: 8vh;
    }

    .logo {
        max-width: 300px;
        flex-grow: 0.33;
        width: 33vw;
    }

    .barraBusqueda {
        align-self: center;
        flex-grow: 0.33;
        width: 33vw;
    }

    .search {
        width: 25vw;
    }

    .slogan {
        max-width: none;
        align-self: center;
        font-size: 15px;
        flex-grow: 0.33;
        justify-content: center;
        width: 33vw;
    }

    .enlaces-general {
        display: block;
        display: flex;
        height: 5vh;
        justify-content: space-between;
    }

    .enlaces-general a {
        text-decoration: none;
        color: #222222;
        display: inline-block;
        padding: 5px 0;
        font-size: 12px;
    }

    .enlaces-izquierda {
        display: flex;
        font-size: 3px;
        justify-content: space-around;
        align-self: flex-end;
        text-align: left;
    }

    .enlaces-derecha {
        display: flex;
        font-size: 3px;
        margin: 0 1px;
        justify-content: space-around;
        align-self: flex-end;
    }

    .burger-menu {
        display: none;
    }

    .contenedor-articulos {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .contenedor-individual {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20vw;
        justify-content: space-around;
    }

    .contenedor-individual:hover .descripcion {
        display: block;
    }

    .descripcion {
        display: none;
    }

    .imagen {
        width: 100%;
    }

    .icono:hover {
        color: #0022AA;
    }

    .main-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}